{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Здравствуйте
    {% if user.is_authenticated %} {{ user.last_name }} {{ user.first_name }} {{ user.surname }}
    {% endif %}!</p>
<p>{{ message }}</p>
<p>Этот сайт создан для пациентов доктора Марка А. М.</p>
<p>Для участия - необходимо получить консультацию в медицинском центре "Андромеда" на Кузнечной 10А.</p>
<p>Там что-то будет потом написано,</p>
<p>Там что-то будет потом написано,
    Там что-то будет потом написано
    Там что-то будет потом написано
    Там что-то будет потом написано,</p>
{% endblock %}
